node_modules
tmp
composer.lock

/wordpress
/wp-admin
/wp-includes
/index.php
/readme.html
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/license.txt
vendor
/composer.lock
/wp-config.php

# Hidden system files
*.DS_Store
*[Tt]humbs.db
*.Trashes

/wp-content/themes/*
!fisherman1
!fisherman2

/wp-content/plugins/
/wp-content/uploads
