wordpress
vendor
*.DS_Store
*[Tt]humbs.db
*.Trashes
wp-content/themes/*
!twentytwenty-child
plugins
!fcf-worship-rego
uploads
.env
.env_*
languages
wp-config.php
index.php
license.txt
readme.html
wp-activate.php
wp-admin/
wp-blog-header.php
wp-comments-post.php
wp-cron.php
wp-includes/
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
license.txt
